<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER">管理平台</span>
  </li>
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-stats icon"></i>
      <span class="font-bold" translate="aside.nav.DASHBOARD">用户管理</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span translate="aside.nav.DASHBOARD">用户管理</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.userlist">
          <span>用户列表</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.dashboard-v2">
          <b class="label bg-info pull-right">44</b>
          <span>待审核列表</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.dashboard-v2">
          <b class="label bg-info pull-right">44</b>
          <span>标签管理</span>
        </a>
      </li> <li ui-sref-active="active">
      <a ui-sref="app.dashboard-v2">
        <b class="label bg-info pull-right">44</b>
        <span>工单管理</span>
      </a>
    </li>
    </ul>
  </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-th-large icon text-success"></i>
      <span class="font-bold"> 订单管理</span>
      <b class="badge bg-success pull-right">300</b>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span></span>订单管理
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.orderList">
          <span>订单列表</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.contact">
          <span>待匹配进账</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-briefcase icon"></i>
      <span class="font-bold"> 商品管理</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span></span>商品管理
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.commodity">
          <span>商品列表</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.contact">
          <span>附加服务列表</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.contact">
          <span>商品分类管理</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon  glyphicon-usd icon"></i>
      <span class="font-bold"> 财务管理</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span></span>财务管理
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.note">
          <span>进账管理</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.contact">
          <span>退款管理</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.contact">
          <span>发票管理</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.contact">
          <span>结算管理</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.contact">
          <span>订单管理</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon  glyphicon-book icon"></i>
      <span class="font-bold"> 文档管理</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span></span>文档管理
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.note">
          <span>发件管理</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.contact">
          <span>收件管理</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon  glyphicon-bell icon"></i>
      <span class="font-bold"> 消息管理</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span></span>消息管理
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.note">
          <span>用户消息</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.contact">
          <span>服务商消息</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.contact">
          <span>IM消息(用户与服务商)</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.contact">
          <span>消息模板</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="icon-settings icon"></i>
      <span class="font-bold"> 系统管理</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span></span>系统管理
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.note">
          <span>人员管理</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.contact">
          <span>角色管理</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon-earphone icon"></i>
      <span class="font-bold"> 客服管理</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span></span>客服管理
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.note">
          <span>IM消息</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.contact">
          <span>呼叫中心</span>
        </a>
      </li>
    </ul>
  </li>
  <li class="line dk"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.components.COMPONENTS">业务办理</span>
  </li>
  <li>
    <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-th"></i>
      <span>业务办理</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a href>
          <span>商标业务</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="layout.app">
          <span>线圈图</span>
        </a>
      </li>
    </ul>
  </li>
  <li class="line dk hidden-folded"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">          
    <span translate="aside.nav.your_stuff.YOUR_STUFF">CMS管理平台</span>
  </li>  
  <li>
    <a ui-sref="app.docs">
      <i class="icon-question icon"></i>
      <span translate="aside.nav.your_stuff.DOCUMENTS">待定</span>
    </a>
  </li>
</ul>
<!-- / list -->