<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading font-bold">
            条件搜索
        </div>
        <div class="panel-body">
            <form class="form-inline" role="form">
               <div class="row m-b">
                   <div class="col-md-2">
                    <div class="form-group">
                        <label for="exampleInputEmail2">公司名称：</label>
                        <input type="email" class="form-control input-sm" id="exampleInputEmail2" placeholder="Enter email">
                    </div>
                </div>
                   <div class="col-md-2">
                       <div class="form-group">
                           <label> 手机号码：</label>
                           <input type="email" class="form-control input-sm" placeholder="请输入手机号码">
                       </div>
                   </div>
                   <div class="col-md-2">
                       <div class="form-group">
                           <label> 邮箱地址：</label>
                           <input type="email" class="form-control input-sm" placeholder="请输入邮箱">
                       </div>
                   </div>
                   <div class="col-md-2">
                       <div class="form-group">
                           <label> 渠道来源：</label>
                           <select name="account" class="input-sm form-control w-sm inline v-middle">
                               <option value="option 1">--------请选择-------</option>
                               <option value="option 2">option 2</option>
                               <option value="option 3">option 3</option>
                               <option value="option 4">option 4</option>
                           </select>
                       </div>
                   </div>
                </div>
                <div class="row m-b">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label> 联&nbsp;系&nbsp;&nbsp;人：</label>
                            <input type="text" class="form-control input-sm" placeholder="请输入联系人名称">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label > 注册来源：</label>
                            <select name="account" class="input-sm form-control w-sm inline v-middle">
                                <option value="option 1">--------请选择-------</option>
                                <option value="option 2">option 2</option>
                                <option value="option 3">option 3</option>
                                <option value="option 4">option 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label> 接待客服：</label>
                            <input type="text" class="form-control input-sm" placeholder="接待客服">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label> 用户标签：</label>
                            <select name="account" class="input-sm form-control w-sm inline v-middle">
                                <option value="option 1">---请选择标签种类---</option>
                                <option value="option 2">option 2</option>
                                <option value="option 3">option 3</option>
                                <option value="option 4">option 4</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label> 标签内容：</label>
                            <select name="account" class="input-sm form-control w-sm inline v-middle">
                                <option value="option 1">--请选择标签内容--</option>
                                <option value="option 2">option 2</option>
                                <option value="option 3">option 3</option>
                                <option value="option 4">option 4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>注册时间：</label>
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="beginDate"
                                       is-open="opened" datepicker-options="dateOptions" ng-required="true"
                                       close-text="Close"/>
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default  input-sm" ng-click="open($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </div>
                            <div class="form-group">
                                <label>--</label>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" id="exampleInputPassword22"
                                           datepicker-popup="{{format}}" ng-model="endDate" is-open="opened2"
                                           datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
                            <span class="input-group-btn">
                                 <button type="button" class="btn btn-default input-sm" ng-click="open2($event)"><i
                                         class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-4">
                         <div class="text-right">
                             <button class="btn m-b-xs w-xs btn-default">重置</button>
                             <button class="btn m-b-xs w-xs  btn-success" ui-toggle-class="show inline" target="#spin">
                                 <span class="text">查询</span>
                                 <span class="text-active">查询中</span>
                                 <i class="fa fa-spin fa-spinner hide" id="spin"></i>
                             </button>
                         </div>
                     </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            用户列表
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th style="width:20px;">
                        <label class="i-checks m-b-none">
                            <input type="checkbox"><i></i>
                        </label>
                    </th>
                    <th>公司名称</th>
                    <th>联系人姓名</th>
                    <th>手机号</th>
                    <th>邮箱</th>
                    <th>QQ</th>
                    <th>固定电话</th>
                    <th>注册时间</th>
                    <th>来源</th>
                    <th>渠道</th>
                    <th>成单量</th>
                    <th>消费金额</th>
                    <th>标签</th>
                    <th>认证状态</th>
                    <th>备注</th>
                    <th>客服</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
                    <td>Idrawfast</td>
                    <td>4c</td>
                    <td>4c</td>
                    <td>4c</td>
                    <td>4c</td>
                    <td>4c</td>
                    <td>4c</td>
                    <td>4c</td>
                    <td>4c</td>
                    <td>4c</td>
                    <td>4c</td>
                    <td>4c</td>
                    <td>4c</td>
                    <td>Jul 25, 2013</td>
                    <td>
                        <a href class="active" ui-toggle-class><i class="fa fa-check text-success text-active"></i><i
                                class="fa fa-times text-danger text"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-6 hidden-xs">
                    <button class="btn btn-sm btn-default btn-addon" ng-click="openAddUserModal('lg')"><i class="fa fa-plus"></i>新增客户</button>
                    <button class="btn btn-sm btn-default" ng-click="openAddWorkSheetModal('sm')">新增工单</button>
                    <button class="btn btn-sm btn-default">添加沟通记录</button>
                    <button class="btn btn-sm btn-default">添加标签</button>
                    <button class="btn btn-sm btn-default">查询验证码</button>
                </div>
                <div class="col-sm-3 text-center">
                    <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
                </div>
                <div class="col-sm-3 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li><a href><i class="fa fa-chevron-left"></i></a></li>
                        <li><a href>1</a></li>
                        <li><a href>2</a></li>
                        <li><a href>3</a></li>
                        <li><a href>4</a></li>
                        <li><a href>5</a></li>
                        <li><a href><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>