body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1002px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u12604 {
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  height:30px;
  font-size:12px;
  color:#999999;
}
#u12604_img.selected {
}
#u12604.selected {
}
#u12605 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u12606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u12606 {
  position:absolute;
  left:132px;
  top:2px;
  width:130px;
  height:30px;
  font-size:12px;
  color:#999999;
}
#u12606_img.selected {
}
#u12606.selected {
}
#u12607 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u12608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u12608 {
  position:absolute;
  left:262px;
  top:2px;
  width:130px;
  height:30px;
  font-size:12px;
  color:#999999;
}
#u12608_img.selected {
}
#u12608.selected {
}
#u12609 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u12610 {
  position:absolute;
  left:0px;
  top:219px;
  width:1004px;
  height:152px;
}
#u12611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u12611 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u12612 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u12613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u12613 {
  position:absolute;
  left:88px;
  top:0px;
  width:94px;
  height:30px;
}
#u12614 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u12615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:30px;
}
#u12615 {
  position:absolute;
  left:182px;
  top:0px;
  width:697px;
  height:30px;
}
#u12616 {
  position:absolute;
  left:2px;
  top:7px;
  width:693px;
  word-wrap:break-word;
}
#u12617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u12617 {
  position:absolute;
  left:879px;
  top:0px;
  width:120px;
  height:30px;
}
#u12618 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u12619 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:40px;
}
#u12620 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u12621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u12621 {
  position:absolute;
  left:88px;
  top:30px;
  width:94px;
  height:40px;
}
#u12622 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u12623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:40px;
}
#u12623 {
  position:absolute;
  left:182px;
  top:30px;
  width:697px;
  height:40px;
}
#u12624 {
  position:absolute;
  left:2px;
  top:12px;
  width:693px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u12625 {
  position:absolute;
  left:879px;
  top:30px;
  width:120px;
  height:40px;
}
#u12626 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:39px;
}
#u12627 {
  position:absolute;
  left:0px;
  top:70px;
  width:88px;
  height:39px;
}
#u12628 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u12629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:39px;
}
#u12629 {
  position:absolute;
  left:88px;
  top:70px;
  width:94px;
  height:39px;
}
#u12630 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u12631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:39px;
}
#u12631 {
  position:absolute;
  left:182px;
  top:70px;
  width:697px;
  height:39px;
}
#u12632 {
  position:absolute;
  left:2px;
  top:12px;
  width:693px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
}
#u12633 {
  position:absolute;
  left:879px;
  top:70px;
  width:120px;
  height:39px;
}
#u12634 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:38px;
}
#u12635 {
  position:absolute;
  left:0px;
  top:109px;
  width:88px;
  height:38px;
}
#u12636 {
  position:absolute;
  left:2px;
  top:11px;
  width:84px;
  word-wrap:break-word;
}
#u12637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
}
#u12637 {
  position:absolute;
  left:88px;
  top:109px;
  width:94px;
  height:38px;
}
#u12638 {
  position:absolute;
  left:2px;
  top:11px;
  width:90px;
  word-wrap:break-word;
}
#u12639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:38px;
}
#u12639 {
  position:absolute;
  left:182px;
  top:109px;
  width:697px;
  height:38px;
}
#u12640 {
  position:absolute;
  left:2px;
  top:11px;
  width:693px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
}
#u12641 {
  position:absolute;
  left:879px;
  top:109px;
  width:120px;
  height:38px;
}
#u12642 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
  background:inherit;
  background-color:rgba(53, 64, 77, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12643 {
  position:absolute;
  left:1px;
  top:50px;
  width:1000px;
  height:60px;
}
#u12644 {
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:35px;
  background:inherit;
  background-color:rgba(53, 64, 77, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12645 {
  position:absolute;
  left:31px;
  top:65px;
  width:143px;
  height:35px;
  font-size:12px;
  color:#CCCCCC;
}
#u12645_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:35px;
  background:inherit;
  background-color:rgba(55, 212, 83, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12645.selected {
}
#u12646 {
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u12647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:59px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12647 {
  position:absolute;
  left:2px;
  top:110px;
  width:1000px;
  height:59px;
  font-size:20px;
}
#u12648 {
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12649 {
  position:absolute;
  left:2px;
  top:169px;
  width:1000px;
  height:50px;
  font-size:20px;
}
#u12650 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u12651 {
  position:absolute;
  left:12px;
  top:133px;
  width:65px;
  height:19px;
  font-size:12px;
  text-align:left;
}
#u12652 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
#u12653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 152, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12653 {
  position:absolute;
  left:87px;
  top:124px;
  width:150px;
  height:30px;
}
#u12654 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12655 {
  position:absolute;
  left:90px;
  top:127px;
  width:145px;
  height:25px;
}
#u12655_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12656 {
  position:absolute;
  left:880px;
  top:132px;
  width:72px;
  height:25px;
}
#u12656_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u12657 {
  position:absolute;
  left:31px;
  top:187px;
  width:49px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u12658 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0000FF;
}
#u12659 {
  position:absolute;
  left:925px;
  top:254px;
  width:29px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u12660 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0000FF;
}
#u12661 {
  position:absolute;
  left:925px;
  top:270px;
  width:29px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u12662 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0000FF;
}
#u12663 {
  position:absolute;
  left:925px;
  top:293px;
  width:29px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u12664 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0000FF;
}
#u12665 {
  position:absolute;
  left:925px;
  top:309px;
  width:29px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u12666 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0000FF;
}
#u12667 {
  position:absolute;
  left:925px;
  top:332px;
  width:29px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u12668 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0000FF;
}
#u12669 {
  position:absolute;
  left:925px;
  top:348px;
  width:29px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u12670 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12671 {
  position:absolute;
  left:132px;
  top:193px;
  width:759px;
  height:491px;
  overflow:hidden;
  visibility:hidden;
}
#u12671_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:491px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12671_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12672 {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:490px;
}
#u12673 {
  position:absolute;
  left:2px;
  top:237px;
  width:754px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12674 {
  position:absolute;
  left:62px;
  top:39px;
  width:57px;
  height:16px;
}
#u12675 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12676 {
  position:absolute;
  left:62px;
  top:89px;
  width:29px;
  height:16px;
}
#u12677 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12678 {
  position:absolute;
  left:143px;
  top:35px;
  width:126px;
  height:25px;
}
#u12678_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12679 {
  position:absolute;
  left:143px;
  top:85px;
  width:126px;
  height:25px;
}
#u12679_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12680 {
  position:absolute;
  left:62px;
  top:141px;
  width:29px;
  height:16px;
}
#u12681 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12682 {
  position:absolute;
  left:143px;
  top:141px;
  width:552px;
  height:275px;
}
#u12682_input {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:275px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12683 {
  position:absolute;
  left:439px;
  top:435px;
  width:140px;
  height:25px;
}
#u12683_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12684 {
  position:absolute;
  left:180px;
  top:435px;
  width:140px;
  height:25px;
}
#u12684_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12685 {
  position:absolute;
  left:156px;
  top:157px;
  width:100px;
  height:16px;
}
#u12686 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12685_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12687 {
  position:absolute;
  left:180px;
  top:183px;
  width:100px;
  height:16px;
}
#u12688 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12687_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12689 {
  position:absolute;
  left:156px;
  top:209px;
  width:100px;
  height:16px;
}
#u12690 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12689_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12691 {
  position:absolute;
  left:180px;
  top:236px;
  width:100px;
  height:16px;
}
#u12692 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12691_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12693 {
  position:absolute;
  left:180px;
  top:262px;
  width:100px;
  height:16px;
}
#u12694 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12693_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12695 {
  position:absolute;
  left:156px;
  top:285px;
  width:100px;
  height:16px;
}
#u12696 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12695_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12697 {
  position:absolute;
  left:180px;
  top:311px;
  width:100px;
  height:16px;
}
#u12698 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12697_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12699 {
  position:absolute;
  left:180px;
  top:337px;
  width:100px;
  height:16px;
}
#u12700 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12699_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12701 {
  position:absolute;
  left:180px;
  top:363px;
  width:100px;
  height:16px;
}
#u12702 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12701_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12703 {
  position:absolute;
  left:180px;
  top:389px;
  width:100px;
  height:16px;
}
#u12704 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12703_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:236px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12705 {
  position:absolute;
  left:305px;
  top:160px;
  width:341px;
  height:236px;
}
#u12706 {
  position:absolute;
  left:2px;
  top:110px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12707 {
  position:absolute;
  left:318px;
  top:175px;
  width:100px;
  height:16px;
}
#u12708 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12707_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12709 {
  position:absolute;
  left:343px;
  top:209px;
  width:100px;
  height:16px;
}
#u12710 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12709_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12711 {
  position:absolute;
  left:443px;
  top:209px;
  width:100px;
  height:16px;
}
#u12712 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12711_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12713 {
  position:absolute;
  left:543px;
  top:209px;
  width:100px;
  height:16px;
}
#u12714 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12713_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12715 {
  position:absolute;
  left:313px;
  top:245px;
  width:100px;
  height:16px;
}
#u12716 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12715_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12717 {
  position:absolute;
  left:338px;
  top:279px;
  width:100px;
  height:16px;
}
#u12718 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12717_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12719 {
  position:absolute;
  left:438px;
  top:279px;
  width:100px;
  height:16px;
}
#u12720 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12719_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12721 {
  position:absolute;
  left:538px;
  top:279px;
  width:100px;
  height:16px;
}
#u12722 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12721_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12723 {
  position:absolute;
  left:313px;
  top:311px;
  width:100px;
  height:16px;
}
#u12724 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12723_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12725 {
  position:absolute;
  left:338px;
  top:345px;
  width:100px;
  height:16px;
}
#u12726 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12725_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12727 {
  position:absolute;
  left:438px;
  top:345px;
  width:100px;
  height:16px;
}
#u12728 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12727_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12729 {
  position:absolute;
  left:538px;
  top:345px;
  width:100px;
  height:16px;
}
#u12730 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12729_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
