<div class="wrapper">
	<accordion close-others="oneAtATime">
		<accordion-group is-open="status.open1" class="">
			<accordion-heading>
				订单基础信息 <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open1, 'fa-angle-right': !status.open1}"></i>
			</accordion-heading>
			<div class="row l-h-2x">
				<div class="col-md-3">
					<label>服务类别：</label>
					<span>国内普通商标注册</span>
				</div>
				<div class="col-md-3">
					<label>增值服务：</label>
					<span>A保</span>
				</div>
				<div class="col-md-3">
					<label>官方费用：</label>
					<span>600.00</span>
				</div>
			</div>
			<div class="row l-h-2x">
				<div class="col-md-3">
					<label>业务名称：</label>
					<span>国内普通商标注册</span>
				</div>
				<div class="col-md-3">
					<label>业务属性：</label>
					<span>A保</span>
				</div>
				<div class="col-md-3">
					<label>服务费用：</label>
					<span>0.00</span>
				</div>
			</div>
			<div class="row l-h-2x">
				<div class="col-md-3">
					<label>服务类别：</label>
					<span>国内普通商标注册</span>
				</div>
				<div class="col-md-3">
					<label>增值服务：</label>
					<span>A保</span>
				</div>
				
			</div>
		</accordion-group>
		<accordion-group heading="业务信息" is-open="status.Topen" ng-click="">
			<accordion-heading>
				业务信息 <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.Topen, 'fa-angle-right': !status.Topen}"></i>
			</accordion-heading>
			<div class="row l-h-2x">
				<div class="col-md-4">
					<div>
						<label>主体名称：</label>
						<span><a href="#">AAAAAAAAAAAAAAA</a></span>
					</div>
					<div>
						<label>商标类别：</label>
						<span>01</span>
					</div>
					<div>
						<label>商标小项：</label>
						<span>010101 XXXXX 010101 XXXXX</span>
					</div>

				</div>
				<div class="col-md-4">
					<div>
						<label>主体地址：</label>
						<span><a href="#">AAAAAAAAAAAAAAA</a></span>
					</div>
					<div>
						<label>商标名称：</label>
						<span>名称名称名称名称名称名称名称名称</span>
					</div>
					<div>
						<label>商标图片：</label>
						<div><img src="http://seopic.699pic.com/photo/00044/9957.jpg_wh1200.jpg" width='300' height='200'></div>
					</div>
				</div>
				<div class="col-md-4">
					
					<div class="invisible">
						<label>占位不显示：</label>
						<span><a href="#">AAAAAAAAAAAAAAA</a></span>
					</div>
					<div class="invisible">
						<label>占位不显示：</label>
						<span>名称名称名称名称名称名称名称名称</span>
					</div>
					<div>
						<label>营业执照：</label>
						<div><img src="http://seopic.699pic.com/photo/00044/9957.jpg_wh1200.jpg" width='300' height='200'></div>
					</div>

				</div>

			</div>
        </accordion-group>
	</accordion>
</div>