body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u1659 {
  position:absolute;
  left:369px;
  top:0px;
  width:130px;
  height:30px;
  font-size:12px;
  color:#999999;
}
#u1659_img.selected {
}
#u1659.selected {
}
#u1660 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u1661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u1661 {
  position:absolute;
  left:250px;
  top:0px;
  width:130px;
  height:30px;
  font-size:12px;
}
#u1662 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u1663 {
  position:absolute;
  left:240px;
  top:0px;
  width:130px;
  height:30px;
  font-size:12px;
  color:#999999;
}
#u1663_img.selected {
}
#u1663.selected {
}
#u1664 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u1665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u1665 {
  position:absolute;
  left:130px;
  top:0px;
  width:130px;
  height:30px;
  font-size:12px;
}
#u1666 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u1667 {
  position:absolute;
  left:120px;
  top:0px;
  width:130px;
  height:30px;
  font-size:12px;
  color:#999999;
}
#u1667_img.selected {
}
#u1667.selected {
}
#u1668 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u1669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u1669 {
  position:absolute;
  left:10px;
  top:0px;
  width:130px;
  height:30px;
  font-size:12px;
}
#u1670 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u1671 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  font-size:12px;
  color:#999999;
}
#u1671_img.selected {
}
#u1671.selected {
}
#u1672 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u1673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u1673 {
  position:absolute;
  left:0px;
  top:50px;
  width:1000px;
  height:1px;
}
#u1674 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:40px;
  background:inherit;
  background-color:rgba(53, 64, 77, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1675 {
  position:absolute;
  left:0px;
  top:50px;
  width:1000px;
  height:40px;
}
#u1676 {
  position:absolute;
  left:2px;
  top:12px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1677 {
  position:absolute;
  left:24px;
  top:62px;
  width:117px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1678 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u1679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u1679 {
  position:absolute;
  left:0px;
  top:50px;
  width:1000px;
  height:1px;
}
#u1680 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681 {
  position:absolute;
  left:50px;
  top:361px;
}
#u1681_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1681_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1682 {
  position:absolute;
  left:60px;
  top:112px;
}
#u1682_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1682_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1683 {
  position:absolute;
  left:38px;
  top:6px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1684 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1685 {
  position:absolute;
  left:38px;
  top:42px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1686 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1687 {
  position:absolute;
  left:38px;
  top:148px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u1688 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1689 {
  position:absolute;
  left:478px;
  top:6px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1690 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1691 {
  position:absolute;
  left:38px;
  top:77px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1692 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:171px;
}
#u1693 {
  position:absolute;
  left:615px;
  top:8px;
  width:120px;
  height:170px;
}
#u1694 {
  position:absolute;
  left:2px;
  top:77px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1695 {
  position:absolute;
  left:153px;
  top:78px;
  width:57px;
  height:14px;
  font-size:11px;
}
#u1696 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1697 {
  position:absolute;
  left:153px;
  top:43px;
  width:202px;
  height:14px;
  font-size:11px;
}
#u1698 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u1699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1699 {
  position:absolute;
  left:153px;
  top:7px;
  width:111px;
  height:14px;
  font-size:11px;
}
#u1700 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1701 {
  position:absolute;
  left:153px;
  top:149px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u1702 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1703 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1704 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1705 {
  position:absolute;
  left:38px;
  top:113px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u1706 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1707 {
  position:absolute;
  left:153px;
  top:114px;
  width:49px;
  height:14px;
  font-size:11px;
}
#u1708 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1682_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1682_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1709 {
  position:absolute;
  left:40px;
  top:8px;
}
#u1709_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1709_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1710 {
  position:absolute;
  left:38px;
  top:6px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1711 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1712 {
  position:absolute;
  left:398px;
  top:4px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u1713 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1714 {
  position:absolute;
  left:513px;
  top:4px;
  width:202px;
  height:14px;
  font-size:11px;
}
#u1715 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u1716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1716 {
  position:absolute;
  left:153px;
  top:6px;
  width:111px;
  height:14px;
  font-size:11px;
}
#u1717 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u1718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1718 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1719 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(40, 152, 224, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1720 {
  position:absolute;
  left:890px;
  top:60px;
  width:90px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1721 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u1722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(40, 152, 224, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1722 {
  position:absolute;
  left:783px;
  top:60px;
  width:90px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1723 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
