body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u11968 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  font-size:12px;
  color:#999999;
}
#u11968_img.selected {
}
#u11968.selected {
}
#u11969 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u11970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u11970 {
  position:absolute;
  left:130px;
  top:0px;
  width:130px;
  height:30px;
  font-size:12px;
  color:#999999;
}
#u11970_img.selected {
}
#u11970.selected {
}
#u11971 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u11972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u11972 {
  position:absolute;
  left:260px;
  top:0px;
  width:130px;
  height:30px;
  font-size:12px;
  color:#999999;
}
#u11972_img.selected {
}
#u11972.selected {
}
#u11973 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u11974 {
  position:absolute;
  left:0px;
  top:226px;
  width:1004px;
  height:107px;
}
#u11975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u11975 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u11976 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u11977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u11977 {
  position:absolute;
  left:81px;
  top:0px;
  width:83px;
  height:30px;
}
#u11978 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u11979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u11979 {
  position:absolute;
  left:164px;
  top:0px;
  width:104px;
  height:30px;
}
#u11980 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u11981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u11981 {
  position:absolute;
  left:268px;
  top:0px;
  width:102px;
  height:30px;
}
#u11982 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u11983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u11983 {
  position:absolute;
  left:370px;
  top:0px;
  width:93px;
  height:30px;
}
#u11984 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u11985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:30px;
}
#u11985 {
  position:absolute;
  left:463px;
  top:0px;
  width:536px;
  height:30px;
}
#u11986 {
  position:absolute;
  left:2px;
  top:7px;
  width:532px;
  word-wrap:break-word;
}
#u11987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u11987 {
  position:absolute;
  left:0px;
  top:30px;
  width:81px;
  height:36px;
}
#u11988 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u11989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u11989 {
  position:absolute;
  left:81px;
  top:30px;
  width:83px;
  height:36px;
}
#u11990 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u11991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u11991 {
  position:absolute;
  left:164px;
  top:30px;
  width:104px;
  height:36px;
}
#u11992 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u11993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u11993 {
  position:absolute;
  left:268px;
  top:30px;
  width:102px;
  height:36px;
}
#u11994 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u11995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u11995 {
  position:absolute;
  left:370px;
  top:30px;
  width:93px;
  height:36px;
}
#u11996 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u11997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:36px;
}
#u11997 {
  position:absolute;
  left:463px;
  top:30px;
  width:536px;
  height:36px;
}
#u11998 {
  position:absolute;
  left:2px;
  top:10px;
  width:532px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u11999 {
  position:absolute;
  left:0px;
  top:66px;
  width:81px;
  height:36px;
}
#u12000 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u12001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u12001 {
  position:absolute;
  left:81px;
  top:66px;
  width:83px;
  height:36px;
}
#u12002 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u12003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u12003 {
  position:absolute;
  left:164px;
  top:66px;
  width:104px;
  height:36px;
}
#u12004 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u12005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u12005 {
  position:absolute;
  left:268px;
  top:66px;
  width:102px;
  height:36px;
}
#u12006 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u12007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u12007 {
  position:absolute;
  left:370px;
  top:66px;
  width:93px;
  height:36px;
}
#u12008 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u12009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:36px;
}
#u12009 {
  position:absolute;
  left:463px;
  top:66px;
  width:536px;
  height:36px;
}
#u12010 {
  position:absolute;
  left:2px;
  top:10px;
  width:532px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:66px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12011 {
  position:absolute;
  left:0px;
  top:110px;
  width:1000px;
  height:66px;
  font-size:20px;
}
#u12012 {
  position:absolute;
  left:2px;
  top:25px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u12013 {
  position:absolute;
  left:10px;
  top:132px;
  width:53px;
  height:19px;
  font-size:12px;
  text-align:left;
}
#u12014 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u12015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 152, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12015 {
  position:absolute;
  left:85px;
  top:124px;
  width:150px;
  height:30px;
}
#u12016 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12017 {
  position:absolute;
  left:88px;
  top:127px;
  width:145px;
  height:25px;
}
#u12017_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
  background:inherit;
  background-color:rgba(53, 64, 77, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12018 {
  position:absolute;
  left:0px;
  top:50px;
  width:1000px;
  height:60px;
}
#u12019 {
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(53, 64, 77, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12020 {
  position:absolute;
  left:30px;
  top:65px;
  width:150px;
  height:30px;
  font-size:12px;
  color:#CCCCCC;
}
#u12020_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(55, 212, 83, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12020.selected {
}
#u12021 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u12022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u12022 {
  position:absolute;
  left:245px;
  top:133px;
  width:65px;
  height:19px;
  font-size:12px;
  text-align:left;
}
#u12023 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
#u12024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 152, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12024 {
  position:absolute;
  left:320px;
  top:124px;
  width:150px;
  height:30px;
}
#u12025 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12026 {
  position:absolute;
  left:323px;
  top:127px;
  width:145px;
  height:25px;
}
#u12026_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12027 {
  position:absolute;
  left:453px;
  top:132px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u12028 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u12029 {
  position:absolute;
  left:480px;
  top:132px;
  width:53px;
  height:19px;
  font-size:12px;
  text-align:left;
}
#u12030 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u12031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 152, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12031 {
  position:absolute;
  left:555px;
  top:122px;
  width:150px;
  height:30px;
}
#u12032 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12033 {
  position:absolute;
  left:558px;
  top:125px;
  width:145px;
  height:25px;
}
#u12033_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12034 {
  position:absolute;
  left:688px;
  top:130px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u12035 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u12036 {
  position:absolute;
  left:715px;
  top:133px;
  width:41px;
  height:19px;
  font-size:12px;
  text-align:left;
}
#u12037 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u12038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 152, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12038 {
  position:absolute;
  left:790px;
  top:122px;
  width:150px;
  height:30px;
}
#u12039 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12040 {
  position:absolute;
  left:793px;
  top:125px;
  width:145px;
  height:25px;
}
#u12040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12041 {
  position:absolute;
  left:923px;
  top:130px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u12042 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12043 {
  position:absolute;
  left:0px;
  top:176px;
  width:1000px;
  height:50px;
  font-size:20px;
}
#u12044 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u12045 {
  position:absolute;
  left:30px;
  top:194px;
  width:49px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u12046 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12047 {
  position:absolute;
  left:182px;
  top:176px;
  visibility:hidden;
}
#u12047_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12047_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:367px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12048 {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:367px;
}
#u12049 {
  position:absolute;
  left:2px;
  top:176px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12050 {
  position:absolute;
  left:72px;
  top:46px;
  width:57px;
  height:16px;
}
#u12051 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12052 {
  position:absolute;
  left:72px;
  top:85px;
  width:71px;
  height:16px;
}
#u12053 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12054 {
  position:absolute;
  left:72px;
  top:128px;
  width:71px;
  height:16px;
}
#u12055 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12056 {
  position:absolute;
  left:72px;
  top:176px;
  width:71px;
  height:16px;
}
#u12057 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12058 {
  position:absolute;
  left:145px;
  top:42px;
  width:177px;
  height:25px;
}
#u12058_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12059 {
  position:absolute;
  left:350px;
  top:42px;
  width:105px;
  height:25px;
}
#u12059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12060 {
  position:absolute;
  left:145px;
  top:85px;
  width:177px;
  height:22px;
}
#u12060_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12060_input:disabled {
  color:grayText;
}
#u12061 {
  position:absolute;
  left:143px;
  top:126px;
  width:177px;
  height:22px;
}
#u12061_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12061_input:disabled {
  color:grayText;
}
#u12062 {
  position:absolute;
  left:145px;
  top:176px;
  width:282px;
  height:111px;
}
#u12062_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:111px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12063 {
  position:absolute;
  left:457px;
  top:176px;
  width:105px;
  height:25px;
}
#u12063_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12064 {
  position:absolute;
  left:106px;
  top:311px;
  width:105px;
  height:25px;
}
#u12064_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12065 {
  position:absolute;
  left:376px;
  top:311px;
  width:105px;
  height:25px;
}
#u12065_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
