body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u12066 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  font-size:12px;
  color:#999999;
}
#u12066_img.selected {
}
#u12066.selected {
}
#u12067 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u12068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u12068 {
  position:absolute;
  left:130px;
  top:0px;
  width:130px;
  height:30px;
  font-size:12px;
  color:#999999;
}
#u12068_img.selected {
}
#u12068.selected {
}
#u12069 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u12070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u12070 {
  position:absolute;
  left:260px;
  top:0px;
  width:130px;
  height:30px;
  font-size:12px;
  color:#999999;
}
#u12070_img.selected {
}
#u12070.selected {
}
#u12071 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u12072 {
  position:absolute;
  left:0px;
  top:226px;
  width:1004px;
  height:107px;
}
#u12073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u12073 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u12074 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u12075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u12075 {
  position:absolute;
  left:81px;
  top:0px;
  width:83px;
  height:30px;
}
#u12076 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u12077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u12077 {
  position:absolute;
  left:164px;
  top:0px;
  width:104px;
  height:30px;
}
#u12078 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u12079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u12079 {
  position:absolute;
  left:268px;
  top:0px;
  width:102px;
  height:30px;
}
#u12080 {
  position:absolute;
  left:2px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u12081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u12081 {
  position:absolute;
  left:370px;
  top:0px;
  width:93px;
  height:30px;
}
#u12082 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u12083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:30px;
}
#u12083 {
  position:absolute;
  left:463px;
  top:0px;
  width:536px;
  height:30px;
}
#u12084 {
  position:absolute;
  left:2px;
  top:7px;
  width:532px;
  word-wrap:break-word;
}
#u12085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u12085 {
  position:absolute;
  left:0px;
  top:30px;
  width:81px;
  height:36px;
}
#u12086 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u12087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u12087 {
  position:absolute;
  left:81px;
  top:30px;
  width:83px;
  height:36px;
}
#u12088 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u12089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u12089 {
  position:absolute;
  left:164px;
  top:30px;
  width:104px;
  height:36px;
}
#u12090 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u12091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u12091 {
  position:absolute;
  left:268px;
  top:30px;
  width:102px;
  height:36px;
}
#u12092 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u12093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u12093 {
  position:absolute;
  left:370px;
  top:30px;
  width:93px;
  height:36px;
}
#u12094 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u12095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:36px;
}
#u12095 {
  position:absolute;
  left:463px;
  top:30px;
  width:536px;
  height:36px;
}
#u12096 {
  position:absolute;
  left:2px;
  top:10px;
  width:532px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u12097 {
  position:absolute;
  left:0px;
  top:66px;
  width:81px;
  height:36px;
}
#u12098 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u12099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u12099 {
  position:absolute;
  left:81px;
  top:66px;
  width:83px;
  height:36px;
}
#u12100 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u12101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u12101 {
  position:absolute;
  left:164px;
  top:66px;
  width:104px;
  height:36px;
}
#u12102 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u12103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u12103 {
  position:absolute;
  left:268px;
  top:66px;
  width:102px;
  height:36px;
}
#u12104 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u12105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:36px;
}
#u12105 {
  position:absolute;
  left:370px;
  top:66px;
  width:93px;
  height:36px;
}
#u12106 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u12107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:36px;
}
#u12107 {
  position:absolute;
  left:463px;
  top:66px;
  width:536px;
  height:36px;
}
#u12108 {
  position:absolute;
  left:2px;
  top:10px;
  width:532px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:66px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12109 {
  position:absolute;
  left:0px;
  top:110px;
  width:1000px;
  height:66px;
  font-size:20px;
}
#u12110 {
  position:absolute;
  left:2px;
  top:25px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u12111 {
  position:absolute;
  left:10px;
  top:132px;
  width:53px;
  height:19px;
  font-size:12px;
  text-align:left;
}
#u12112 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u12113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 152, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12113 {
  position:absolute;
  left:85px;
  top:124px;
  width:150px;
  height:30px;
}
#u12114 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12115 {
  position:absolute;
  left:88px;
  top:127px;
  width:145px;
  height:25px;
}
#u12115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
  background:inherit;
  background-color:rgba(53, 64, 77, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12116 {
  position:absolute;
  left:0px;
  top:50px;
  width:1000px;
  height:60px;
}
#u12117 {
  position:absolute;
  left:2px;
  top:22px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u12118 {
  position:absolute;
  left:245px;
  top:133px;
  width:65px;
  height:19px;
  font-size:12px;
  text-align:left;
}
#u12119 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
#u12120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 152, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12120 {
  position:absolute;
  left:320px;
  top:124px;
  width:150px;
  height:30px;
}
#u12121 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12122 {
  position:absolute;
  left:323px;
  top:127px;
  width:145px;
  height:25px;
}
#u12122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12123 {
  position:absolute;
  left:453px;
  top:132px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u12124 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u12125 {
  position:absolute;
  left:480px;
  top:132px;
  width:53px;
  height:19px;
  font-size:12px;
  text-align:left;
}
#u12126 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u12127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 152, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12127 {
  position:absolute;
  left:555px;
  top:122px;
  width:150px;
  height:30px;
}
#u12128 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12129 {
  position:absolute;
  left:558px;
  top:125px;
  width:145px;
  height:25px;
}
#u12129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12130 {
  position:absolute;
  left:688px;
  top:130px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u12131 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u12132 {
  position:absolute;
  left:715px;
  top:133px;
  width:41px;
  height:19px;
  font-size:12px;
  text-align:left;
}
#u12133 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u12134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 152, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12134 {
  position:absolute;
  left:790px;
  top:122px;
  width:150px;
  height:30px;
}
#u12135 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12136 {
  position:absolute;
  left:793px;
  top:125px;
  width:145px;
  height:25px;
}
#u12136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12137 {
  position:absolute;
  left:923px;
  top:130px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u12138 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12139 {
  position:absolute;
  left:0px;
  top:176px;
  width:1000px;
  height:50px;
  font-size:20px;
}
#u12140 {
  position:absolute;
  left:2px;
  top:17px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u12141 {
  position:absolute;
  left:30px;
  top:194px;
  width:49px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u12142 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(53, 64, 77, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12143 {
  position:absolute;
  left:30px;
  top:65px;
  width:150px;
  height:30px;
  font-size:12px;
  color:#CCCCCC;
}
#u12143_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(55, 212, 83, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12143.selected {
}
#u12144 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u12145 {
  position:absolute;
  left:182px;
  top:176px;
  visibility:hidden;
}
#u12145_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12145_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:367px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12146 {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:367px;
}
#u12147 {
  position:absolute;
  left:2px;
  top:176px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12148 {
  position:absolute;
  left:72px;
  top:46px;
  width:57px;
  height:16px;
}
#u12149 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12150 {
  position:absolute;
  left:72px;
  top:85px;
  width:71px;
  height:16px;
}
#u12151 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12152 {
  position:absolute;
  left:72px;
  top:128px;
  width:71px;
  height:16px;
}
#u12153 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12154 {
  position:absolute;
  left:72px;
  top:176px;
  width:71px;
  height:16px;
}
#u12155 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12156 {
  position:absolute;
  left:145px;
  top:42px;
  width:177px;
  height:25px;
}
#u12156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12157 {
  position:absolute;
  left:350px;
  top:42px;
  width:105px;
  height:25px;
}
#u12157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12158 {
  position:absolute;
  left:145px;
  top:85px;
  width:177px;
  height:22px;
}
#u12158_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12158_input:disabled {
  color:grayText;
}
#u12159 {
  position:absolute;
  left:143px;
  top:126px;
  width:177px;
  height:22px;
}
#u12159_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12159_input:disabled {
  color:grayText;
}
#u12160 {
  position:absolute;
  left:145px;
  top:176px;
  width:282px;
  height:111px;
}
#u12160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:111px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12161 {
  position:absolute;
  left:457px;
  top:176px;
  width:105px;
  height:25px;
}
#u12161_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12162 {
  position:absolute;
  left:106px;
  top:311px;
  width:105px;
  height:25px;
}
#u12162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12163 {
  position:absolute;
  left:376px;
  top:311px;
  width:105px;
  height:25px;
}
#u12163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
